<p style="color: green"><%= notice %></p>

<div class="container mb-5">
  <div class="container shadow bg-light card p-4 my-4">
    <h2>Scadenziario</h2>
  </div>

  <div class="container shadow bg-light card p-4">
    <div class="f-flex justify-content-end text-right mb-5">
      <%= link_to new_deadline_path, class:"btn btn-primary" do %>
        <i class="fas fa-plus mr-1 w-5"></i>
        <span class="nav-label">
          Inserisci una nuova Scadenza
        </span>
      <% end %>
    </div>

    <div class="f-flex justify-content-start text-left mb-5">
      <strong>
        <%= Date.current.in_time_zone("Europe/Rome").try(:strftime, '%A %-d / %B / %Y') %>
      </strong>
    </div>

    <% if @deadlines.present? %>
      <div class="table-responsive" data-controller="reloader">
        <table class="table table-hover no-margins">
          <thead>
          <tr>
            <th class="text-center">ID</th>
            <th class="text-center">Scadenza</th>
            <th class="text-center">Descrizione</th>
            <th class="buttons"></th>
          </tr>
          </thead>
          <tbody>
          <% @deadlines.each do |deadline| %>
            <tr>
              <td class="text-center"><%= deadline.id %></td>

              <td class="text-center"><%= deadline.expired_at.in_time_zone("Europe/Rome").try(:strftime, '%-d / %m / %Y') %></td>
              <td class="text-center"><%= deadline.description %></td>

              <td class="text-center">
                <div class="btn-group">
                  <%= link_to edit_deadline_path(deadline), class: "btn btn-xs btn-secondary rounded mr-1", title: 'Edit' do %>
                    <i class="fas fa-fw fa-edit"></i>
                  <% end %>
                  <%= link_to deadline, method: :delete, class: "btn btn-xs btn-danger rounded", title: 'Delete', data: { confirm: 'Sei davvero sicuro di voler eliminare questa scadenza?' } do %>
                    <i class="fas fa-fw fa-trash"></i>
                  <% end %>
                </div>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    <% else %>
      <p class="text-center">
        <span class="text-muted"><i class="fas fa-sad-tear fa-2x fa-align-middle"></i>Al momento non ci sono scadenze nel registro di famiglia...</span>
        <%= ibutton(label: 'Inserisci una nuova Scadenza', link: new_deadline_path, icon: 'plus-circle', size: 'lg', style: 'default') %>
      </p>
    <% end %>
  </div>
</div>
